<div class="container-fluid" style="margin-left: 30px">
  <div class="row">
    <div *ngFor="let card of cards">
      <div class="clearfix" ng-if="$index % 3 == 0"></div>
      <div class="col-3">
        <div class="card zoom" style="width: 300px;height: 200px">
          <div class="card-header bg-dark text-white scrollHeader">
            <span class="float-left btn text-white" (click)="uploadAvatar(card)"><i class="fa fa-pencil"></i><img
              src="favicon.ico"
              class="rounded-circle"
              alt="{{card.title}}"
              width="40" height="40"> </span>
            <span class="scrollHeader"> <b>{{card.title}}</b></span>
          </div>
          <div class="card-body scroll" (click)="redirectToUrl(card)">
            <h6>{{card.description}}</h6>
          </div>
          <div class="card-footer bg-dark row-cols-3" style="padding-bottom: 0;" *ngIf="tabName===undefined">
            <span class="col-1 float-left btn mt-0 mb-0 pt-0 pb-0 text-white" (click)="updateCard(card)"> <i
              class="fa fa-edit fa-1x"></i></span>
            <ng-template #popTemplate><span class="btn btn-danger pt-0 pb-0 m-0"
                                            (click)="deleteCard(card.name)">CONFIRM</span>
            </ng-template>
            <span class="col-1 btn mt-0 mb-0 pt-0 pb-0" style="margin-left: 55px" [popover]="popTemplate"
                  popoverTitle="Are you sure to delete?" placement="top" [outsideClick]="true"> <i
              class="fa fa-archive fa-1x text-white"></i></span>
            <span class="col-1 btn mt-0 mb-0 pt-0 pb-0 text-white" style="margin-left: 55px" (click)="addCardToGroup()"> <i
              class="fa fa-google fa-1.5x"></i></span>
            <ng-template #sharePopTemplate>
              <form [formGroup]="shareForm" (ngSubmit)="shareCard(card,shareForm.value)">
                <input type="text" placeholder="Sender's Email" formControlName="from"
                       style="border-radius: 0;border-width: thin">
                <br>
                <input type="text" placeholder="Receiver's Email" formControlName="to"
                       style="border-radius: 0;border-width: thin">
                <br>
                <button type="submit" class="btn btn-danger pt-0 pb-0 m-0">SHARE
                </button>
              </form>
            </ng-template>
            <span class="col-1 float-right btn text-white mt-0 mb-0 pt-0 pb-0" [popover]="sharePopTemplate"
                  popoverTitle="Please enter the details" placement="top" [outsideClick]="true"><i
              class="fa fa-share fa-1x"></i></span>
          </div>
          <div class="card-footer bg-dark row ml-0 mr-0 pb-0 mt-0" style="padding-top: 3px"
               *ngIf="tabName==='PENDING CARDS'">
              <span class="btn mt-0 mb-0 pt-0 pb-0 pl-4 ml-5 text-white justify-content-center"
                    (click)="approveCard(card.name)"><h5>APPROVE</h5></span>
          </div>
          <div class="card-footer bg-dark row ml-0 mr-0 pb-0 mt-0" style="padding-top: 3px"
               *ngIf="tabName==='AUTHORIZE CARDS'">
               <span class="btn mt-0 mb-0 pt-0 pb-0 pl-4 ml-5 text-white justify-content-center"
                     (click)="authorizeCard(card.name)"><h5>AUTHORIZE</h5></span>
          </div>
          <div class="card-footer bg-dark row-cols-3" style="padding-bottom: 0;" *ngIf="tabName==='GROUP CARDS'">
            <span class="col-1 float-left btn mt-0 mb-0 pt-0 pb-0 text-white" (click)="updateCard(card)"> <i
              class="fa fa-edit fa-1x"></i></span>
            <ng-template #popTemplate><span class="btn btn-danger pt-0 pb-0 m-0"
                                            (click)="deleteCard(card.name)">CONFIRM</span>
            </ng-template>
            <span class="col-1 btn mt-0 mb-0 pt-0 pb-0" style="padding-left: 90px" [popover]="popTemplate"
                  popoverTitle="Are you sure to delete?" placement="top" [outsideClick]="true"> <i
              class="fa fa-archive fa-1x text-white"></i></span>
            <ng-template #sharePopTemplateGroup>
              <form [formGroup]="shareForm" (ngSubmit)="shareCard(card,shareForm.value)">
                <input type="text" placeholder="Sender's Email" formControlName="from"
                       style="border-radius: 0;border-width: thin">
                <br>
                <input type="text" placeholder="Receiver's Email" formControlName="to"
                       style="border-radius: 0;border-width: thin">
                <br>
                <button type="submit" class="btn btn-danger pt-0 pb-0 m-0">SHARE
                </button>
              </form>
            </ng-template>
            <span class="col-1 float-right btn text-white mt-0 mb-0 pt-0 pb-0" [popover]="sharePopTemplateGroup"
                  popoverTitle="Please enter the details" placement="top" [outsideClick]="true"><i
              class="fa fa-share fa-1x"></i></span>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
