<div class="modal-header">
  <h4 class="modal-title" style="color: #3e53af">UPDATE CARD</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="card" (ngSubmit)="updateCard(card.value)">
  <div class="modal-body scroll">
    <label for="title"><h6>Title</h6></label>
    <input type="text" class="form-control" placeholder="Enter title" id="title" formControlName="title">
    <br>
    <label for="description"><h6>Description</h6></label>
    <label class="container">
    <textarea name="description" class="container" rows="10" placeholder="Please type description"
              id="description" formControlName="description"></textarea>
    </label>
    <br>
    <label for="expiresIn"><h6>Expires In</h6></label>
    <input type="number" class="form-control" id="expiresIn" formControlName="expiresIn">
    <br>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-dark"
    >{{submitBtnName}}</button>
    <button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</form>
