<div class="modal-header">
  <h4 class="modal-title" style="color: #3e53af">SHARE CARDS OF GROUP</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="shareGroup" (ngSubmit)="shareGroupCards(shareGroup.value)">
  <div class="modal-body scroll">
    <label for="name"><h6>Sender's Email</h6></label>
    <input type="text" class="form-control" placeholder="Enter sender's email address" id="name" formControlName="from">
    <br>
    <label for="description"><h6>Receiver's Email</h6></label>
    <input type="text" class="form-control" placeholder="Enter sender's email address" id="description"
           formControlName="to">
    <br>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-dark"
    >{{submitBtnName}}</button>
    <button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</form>
