<ngb-tabset class="nav-justified" style="height: 500px">
  <ngb-tab>
    <ng-template ngbTabTitle><h1>CARDS</h1></ng-template>
    <ng-template ngbTabContent>
      <br><br>
      <div class="row justify-content-between">
        <div class="col-3"></div>
        <div class="col-3">
          <span class="btn btn-info align-content-center"><h5>ADD CARD</h5></span>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
      </div>
      <br><br>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><h1>GROUPS</h1></ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
